/***************
   Schrift
****************/ 
body {   
  color:#555;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-y: scroll;
  } 
h2, h3, h4 {
  font-family: "Trebuchet MS", Arial, sans-serif; 
  } 
a {
  color:#005; 
  text-decoration: none;  
  border-radius: 3px;
  } 
a:hover { 
  color:#008;
  background: linear-gradient( rgba(0, 0, 255, 0.04), rgba(0, 0, 255, 0.08));
  }
h2 {
  color: #8e843b;
  margin: 0 0 1.5em;
  }
h2:first-child {
    /* margin-top: 30px; */
    position: relative;
    z-index: 2;
    /* margin-bottom: -34px; */
}
h3 {
  color: #8e843b;
  }

h4 {
  color: #8e843b;
  }
.white {
  background-color:#fff; 
  }
p { 
  margin: 1em 0;
}
*[class^="fa-"]::before,
*[class*=" fa-"]::before {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/***************
   STRUKTUR
****************/

body {
  padding: 0;
  margin: 0;
  background-color:#ffd; 
  color:#666;
  } 

.background {
  background-image:url('images/bg.png');  
}
 

/* head */


#main,
#navbar {
  max-width: 80em;
  margin: 0 auto;
  }

#head {   
  position: relative;
  height: 180px;
  background-image:url('images/bg3.jpg');
  background-position: right;
  }
#head img.figure {
position:absolute;
top:0;
right:0;
  
}
#logo1,
#logo2 {
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;  
  }
#logo1 {
  padding-left: 30px;
  padding-top: 42px; 
  background: -webkit-linear-gradient(left, #c5b582, rgba(197, 181, 130, 0.1), rgba(0,0,0, 0)) ; /* For  Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c5b582, rgba(197, 181, 130, 0.1), rgba(0,0,0, 0)) ; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c5b582, rgba(197, 181, 130, 0.1), rgba(0,0,0, 0)) ; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c5b582, rgba(197, 181, 130, 0.1), rgba(0,0,0, 0)) ; /* #e7d5a7 Standard syntax (must be last) */
  }
#logo2 {
  right: 0; 
  display: none;
  }
h1 {
  position: relative;
  text-align: center;
  margin: 0 245px;
  padding: 46px 0 0;
  font-family: "trebuchet ms";
  font-size: 32px;
  z-index: 1;
  }
.H1_big span {
  display:block;
  margin: 0 100px;
  font-size: .7em;
}
.H1_big em {
    font-style: normal;
    text-shadow: 2px 2px 6px #e4d3a5, -2px -2px 6px #e4d3a5;    
    border-radius: 5px;
    color: #615a2c;
}
#subhead {
    background: rgba(174, 158, 108, 0.21);
    padding: 2px 0; 
    height: 20px;
    position: absolute;
    width: 100%;
    margin-top: -27px; 
    border: 3px solid rgb(255, 247, 212);
    border-width: 0px 0 4px;
}
#navbar {
  height: 19px;
  font-size: 14px;
  line-height:15px;
  font-family: calibri, arial, sans-serif;
  position:relative;
  }
#navbar_items {
  display: block;
  position: absolute;
  left: 9em;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  }
#navbar_items li {
  display: block;
  position: relative;
  float: left;
  margin-right: -.3em;
  list-style: none;
  } 
#navbar a {
  display: inline-block; 
  position: relative;
  padding: .2em 1em; 
  background: rgb(237, 227, 185);
  border: 1px solid rgb(255, 247, 212);
  border-color: #e4d3a5 #e4d3a5 rgb(255, 247, 212);
  border-radius: .6em .6em .1em .1em;
  }
#navbar a:hover {
  background: #fff;  
  }

/* main body */

table.main {
  position:relative;
  padding: 0;
  width: 100%;
  border: 1px solid #fff7d4;
  border-width: 0 0 0 3px;
  }
#about,
#thesaurus,  
#find {
  display: block;
  min-height: 25em;
  min-height: 50vh;
}
 
td.control {
  position: relative;
  vertical-align: top;
  background: rgb(228, 211, 165);
  width: 2.5vw;
  min-width: 2.5em;
  font-size: 1em;
  overflow: hidden;
  border-right: 3px solid #fff7d4;
  cursor: pointer;
  font-family: calibri, arial;
  font-weight:bold;
}
.control.hilite {
  background:rgb(208, 219, 216); 
} 
.control a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 11em;
  padding-top: 15vh;
  padding-top: 5.95em;
}
.control.hilite a { 
  cursor: default;
  background: transparent;
} 
.control a span {
  display: block;
  transform: rotate(90deg);
  width: 2.5vw;
  min-width: 2.5em;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border: 0px solid #ddd;
  color: #000;
  position: fixed;
  /* top: 50vh; */
}
.control.hilite a span {  
} 
  
/* foot */

#footer {
  clear: both;
  text-align: center;
  border-top: 3px solid #fff7d4;
  padding: .5em 0 .8em;
  background-color: rgba(233, 220, 175, 0.5);
}
#footer span {
  display: inline-block; 
  width: 10em;
}
#footer span:nth-of-type(3n+1) {
  text-align: right;
} 
#footer span:nth-of-type(3n+2) {
  text-align: center;
  width: auto;
  padding: 0 .2em;
}
#footer span:nth-of-type(3n) {
  text-align: left;
} 

/*************/
.next {
 text-align: right;
 }
.next a {
 font-style: italic;
 }

/*******************
   JS-Funktionen 
********************/

.hide {
  display: none;
  }
#navbar .hilite {
  z-index: 4!important;
  background: #fff;
  border-bottom-color: #fff;
  cursor: default;
  line-height: 17px;
  }
 
/*******************
   Slides
********************/

.main .slide {
  position:relative;
  vertical-align:top;
  background:#fff;
  padding: 4.5rem 5%;
  min-height: 50vh;
  }
 
.white {
}
.content {
  margin-right: 16.5rem;
  margin-left: auto;
  max-width: 50em; 
  line-height: 1.5em;
  }
#about .content {
  margin-right: auto;
  }
 
.pageindex {
  float: right;
  width: 15rem;
  margin: 0 0 1.5em 1.5em; 
  border: 1px solid rgb(191, 207, 203);
  border-radius: 5px 5px 0 0;
  background-color: rgb(255, 247, 212);
  font-family: calibri, arial, sans-serif;
  line-height: 1.2em;
}

#wrapAbsolute {
  position: absolute;
  width: 15rem;
  right:  5%;
  /* margin-top: 3em; */
}
.pageindex,
#wrapAbsolute {
  margin-top: 0em;
}
#wrapFixed {  
  width: 15rem; 
  } 
#wrapAbsolute .pageindex {
  margin:0;
  position: static;
  width: auto;
  }
   
#find .pageindex {
    width: 15em;
  }

.pageindex h4 {
  margin: 0;
  line-height: 2.5rem;
  min-height: 1.1em;
  text-align: center;
  background: #eed;
  background: rgb(208, 219, 216);
  color: #005;
  font-family: calibri, arial;
  }
.pageindex ul { 
  max-width: 13em;
  margin: 1em auto;
  list-style: none;
  padding: 0;
}
.pageindex li  {
  list-style: none;
  padding: 0;
  }  
.pageindex a  {
  display: inline-block;
  padding: .3em;
  padding-left: 1.2em;
  text-indent: -1em;
  }

.pageindex .here {
  color:#008;
  background: linear-gradient( rgba(0, 0, 255, 0.03), rgba(0, 0, 255, 0.07));
  cursor: text;
  font-style: italic;
}
.pageindex .here:before {
 content: '\f04b ';
 font-style: normal;
 font-family: fontawesome;
 font-size: .7em;
 padding-right: .4em; 
 opacity: .6;
 }

#schlagworte .pageindex a {
  padding: 0;
  }
.i_container {
  overflow: hidden;
  }
.i_container img {
    width: 100%; 
 margin-bottom:-5px;
 }

/******* #about #help ***********/

.helpExample {
  list-style:none;
  padding-left: 8em;  
}
.helpExample li  { 
  padding-left: 1em ;
  text-indent: -1em; 
}
.helpExample li:first-child {
  float: left;
  padding: 0; 
  margin-left: -6em;
  font-style: italic;
}
/********  Thesaurus, #wishList ***********/
 
#wishList ul {
    margin: 1em 1em .5em;
}
#wishList li {
  display: block;
  padding: 0  1em 0 1em;
  min-height: 1.5em;
  position: relative;
}
#wishList li .fa {
  display: inline-block;
  margin-left: -1.6em;
  margin-right: .2em;
  padding: .2em;
  color: #96855e;
  cursor: pointer;
  border-radius: 4px;
} 
#wishList a.andOr:hover,
#wishList li .fa:hover {
    color: #fff7d4;
    background:rgba(150, 133, 94, 0.82);
}
#wishList a.andOr  {
  position: absolute;
  right: -.5rem;
  top: .75em;
  font-size: .8em;
  line-height:1.8em;
  padding: 0; 
  width: 2.4em;
  text-align: center;
  text-indent: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background: rgba(233, 220, 175, 0.5);
  color: #a08628;
  cursor: pointer;
  }   
.andOr:empty {
  visibility: hidden;
}
#abfrage {
  display: block; 
  text-align: right; 
  padding: 0 1em; 
  line-height: 2em;
  border-top: 1px solid rgb(228, 211, 165);
  background: rgba(233, 220, 175, 0.5);
}
#abfrage:hover {
  background: rgba(233, 220, 175, 0.8);
}
#abfrage::before {
  font-size: 1.2em;
  opacity: .5; 
  padding-right:.5em;
}

/****** Bildnachweise ******/

.bildnachweise tr {
}
.bildnachweise td:nth-of-type(2) {
  padding-left: 1em;
  width: 30%
}

.bildnachweise img {
    width: 100%;
    height: inherit;
}

/****** Impressum ******/

.impressum, 
.impressum li {
 list-style: none; 
 margin: 0;
 padding: 0;
 }
.impressum li {
 margin-left:3em;
 margin-bottom:1em;
 }
.impressum i {
 display: block; 
 text-indent: -3em;
 }
.impressum span {
 display: block; 
 line-height: 1.25em;
 margin-bottom: 1em;
 }
 

/*******************

   SUCHOPTIONEN

********************/

/**** Suchfelder ******/

#searchform1 {
 /* padding: 1em 0 0; */
 margin: 1px;
 border: 1px solid #ccc;
 border-radius: 7px;
}
#searchform1 h2 {
    margin: 1rem;
    /* color: #3f3f92; */
}

table.suchOptionen,
.suchOptionen tbody,
.suchOptionen tr,
.suchOptionen td  {
  display: block;
  position: relative;
}
.suchOptionen {
  margin: 0;
  position: relative;
  width: 100%;
  min-width: 24em;
  text-align: center;
  border-collapse: collapse;
  border-radius: 9px;
 }
.suchOptionen th {
 text-align: right;
 padding: 0 .5em;
 font-weight: normal;
 font-style: italic;
 }  

.suchOptionen .top {
  vertical-align: top;  
  } 

/********************************
 examples, s.a. beispiele
********************************/  

tr.examples {
  display: inline-block; 
  position:static;
  margin: 0 -.15em;
  list-style: none;
  height: 6em;
}
.examples th {
  display: inline-block;
  position:relative;
  margin-top: -1.55em;
  border: 1px solid #ccc;
  border-radius: 7px 7px 0 0;
  z-index:2;
  color: #555; 
  cursor: pointer;
  font-family: calibri, arial, sans-serif;
}
.examples th:hover,
.examples th.here {
  z-index:3;
  color:inherit;
  border-bottom-color: rgba(0,0,0,0);
}
.examples th.here {
}
.examples td {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 5em;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-top: 1.5em; 
}

.examples [data-index="author"],
.examples [data-index="title"] {
  /* padding-top: .8em; */
}
.examples ol, 
.examples li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.examples li {
    margin: 1px; 
    font-size: .9em;
    border: 1px solid #ccc;
}
.examples small {
    display: block;
    color: #888;
    font-family: calibri, arial, sans-serif;
    font-size: 1em;
}
/**** Anker ******/
 
.examples .year {
 /* padding-top: .8em; */
 font-family: calibri, arial;
} 
.examples  a {
 padding: 0 .25em;
 display: inline-block;
 border: 1px solid transparent;
 border-width: 1px 0;
 border-radius: 0;
 }  

/*  Suchoptionen */
  
.showOptions {
  text-align: right;
  font-family: calibri, arial, sans-serif;
  background: rgba(233, 220, 175, 0.7);
  /* margin: -.5em -1em 1.5em; */
  padding: .2em .5em;
}
.suchOptionen .showOptions {
  margin: 0;
  text-align: center;
  color: #555;
  border-radius: 0 0 7px 7px;
}
.showOptions label::before {  
  font-family:fontawesome; 
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
  padding-left: .5em;
  padding-right: .2em;
  opacity: .7;
}
.showOptions label.hover::before {   
  opacity: 1; 
}

#chooseMaxHits::before,
.chooseMaxHits::before   { 
  content: '\f0cb'; /* fa-list-ol   */
}
#countResults::before {
  content: '\f0dc'; /* fa-sort */
  content: '\f161'; /* fa-sort-amount-desc   */
} 

/* Suchrahmen gelb */

#searchform1 { 
 background-color: rgb(242, 234, 207);
 background-color: rgb(240, 231, 196);
} 
.suchOptionen,
.examples th:hover,
.examples th.here {
 background-color: rgba(255, 247, 212, 0.55);
  background: rgba(255, 255, 245, 0.49);
} 
.examples th {
  background: rgb(228, 211, 165);
 background-color: rgb(222, 230, 228);
 background-color: rgba(248, 243, 218, 0.27);
  color: #555;
} 

#searchform1,
.examples th,
.examples *[data-index], 
.examples li  {
  border-color: #ccc;
} 

/* Suchrahmen bunt */

#searchform1 {
 background-color: rgb(250, 253, 253);
 /* background-color: rgb(230, 243, 243); */
 /* background-image: url('images/bg.png'); */
} 
.suchOptionen,
.examples th:hover,
.examples th.here {
  background-color: rgb(240, 251, 255);
  background-color: rgb(245, 250, 250);
  background-color: #fff7d4;
} 
.suchOptionen .showOptions,
.examples th {
  background-color: rgb(210, 225, 225);
  color: rgba(0, 40, 80, 1);
} 
#searchform1,
.examples th,
.examples *[data-index], 
.examples li  {
  border-color: rgb(208, 218, 218);
}
.examples  a:hover, 
.examples  a.selected { 
  background: #c5f9fb;
}  
.examples .year a:hover {  
  border-color: #0d95bd;
}
 
.examples .code {
  background: rgb(250, 255, 255);
}

/* Suchrahmen blau */
 
.suchOptionen .showOptions,
#searchform1 {
 background-color: rgb(215, 230, 230);
 /* background-color: rgba(220, 230, 230, 1); */
} 
.suchOptionen,
.examples th:hover,
.examples th.here {
  background: rgba(255, 255, 245, 0.7);
} 
.examples th {
  background: rgba(255, 255, 245, 0.3);
  color: #555;
} 

#searchform1,
.examples th,
.examples *[data-index], 
.examples li  {
  border-color: #ccc;
} 
#searchform1 h2 { 
    color: #005; 
}

 /*******  Suchfeld *********/

tr.search  {
  position: relative;
  display: block; 
}
tr.search td {
  display: block; 
  margin: .5em 2.5em; 
  position: static;
}
tr.search .fa {
  position: absolute;
  top: 1px;
  cursor: pointer;
}
tr.search .fa[class*=fa-times] {
  right: 2.75rem;
  padding: .5em;
  background: rgba(255, 255, 255, 0.68);
  margin: 2px;
  opacity: .3;
}
tr.search .fa-search:hover,
tr.search .fa-times:hover {
    opacity: 1;
}
tr.search .fa-search {
  right: 0px;
  opacity: .6;
  font-size: 1.5rem;
  display: block;
  /* border:  1px solid #888; */
  line-height: 2.4rem;
  padding: 0;
  width: 2.5rem;
  text-align: center;
}
#searchform1 input {
 box-sizing: border-box;
 display: inline-block;
 display: block; 
 width: 100%;
 padding: .5em;
 font-size: 1rem;
 font-family: calibri, arial, sans-serif;
 } 

/*************************

     Suchresultate 

*************************/

.showResults {
  padding-top: 3em;
} 
#showList {
  /* margin-left: -1rem; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .5em 1em;
  padding: 0;
  /* background: rgb(196, 179, 130); */
  } 

.results { 
  margin: 0;
  padding: 1em;
  padding-left: 3em;
}

#show_entry th {
  text-align: right;
}
 
.showEntry, 
.showEntry li {
  list-style:none;
  margin: 0;
  padding: 0;  
  }
.showEntry {
    color: #000;
    border: 1px solid #ccc;
    margin: 0 -.5em .5em;
    padding: 0;
    border-radius: 5px;
    background: rgb(255, 247, 212);
    /* background: rgb(255, 255, 255); */
    position: relative;
}
.showEntry a { 
  color: #009;
  }
.showEntry li {  
  margin-left: 9em;   
  }
.showEntry .showOptions {
    margin: 0;
    /* text-align: center; */
    text-align: left;
    padding-left: 1em;
}
.showEntry .eSegment {
  float:left;
  clear: left;
  width: 9em; 
  margin-left: 0em; 
  font-style: italic;
  }  
.showEntry.compact .eSegment, 
.showEntry.compact .zahl, 
.showEntry.compact .addInfo {
  display: none; 
  }
.showEntry.compact li {
  display: inline;
  padding: 0;
  margin: 0;
  }
.showEntry.compact li::after {
  content: ' ';
  } 
.record-html {
    padding: 1em;
}
.pubForm::before {
  content: 'abc';
  display: block;
  float: right;
  font-family: fontawesome;
  font-size: 1.5em;
  color: rgb(255, 247, 212);
  background: #c1b994;
  padding: .2em;
  border-radius: .2em;
  margin-left: 0.2em;
  margin-bottom: .2em;
  }
.article {
  content: '\f15c'; /* fa-file-text */
  }
.buch::before { 
  content: '\f02d'; /* fa-book  */
  } 

/*  results Farben*/
.showEntry,
#find #showList {  
  background: rgb(228, 211, 165); 
  }

.navResults { 
  background: rgba(255, 255, 216, 0.5);
  }
.results {
  background: rgba(255, 255, 216, 0.97);
  background: rgba(255, 255, 255, 1);
  color: #463a2e;
} 
.showEntry .showOptions { 
  background: rgba(255, 255, 216, 0.1);
  }
.record-html {
  background: rgba(255, 255, 225, 0.98);
  background: rgb(255, 247, 212);
} 

/******* Fehlermeldungen ***********/

.ajax-error {
  border: 1px solid red;
  padding: 0 1em 0 1em;
  background-color: lightpink;
}

/* Is returned when the html file is opened from disk */
.ajax-error.c0 {
  border: 1px solid green;
  background-color: lightgreen;
  display: none;
}

.ajax-error * {
  background-color: white;
  overflow-y: scroll;
}

.ajax-error h1 {
  margin: 0 0 0 0;
}

  
/*******************

   Thesaurus, Schlagworte

********************/
fieldset {
  border: 0;
  }
#schlagworte { 
  padding: 1.5em 16.5em 1em 3em;
  padding:0;
  }
.showOptions h2 {
  text-align: left;
  float: left;
  padding-left: 1rem;
  line-height: 3.5rem;
  margin: 0;
}
#expandAll {
    padding: .5em;
    position: relative;
    /* float: right; */
}
#expandAll > div {
    line-height: 1.2em;
}
#expandAll a {
  text-transform: lowercase;
  color: #333300;
  display: inline-block;
  margin-left: -1.5em;
  padding: 0 .5em 0 2.5em;
  border-radius: .5em;
  position: relative;
  z-index: 2;
  width: 6em;
  }
.schlagworte {
    max-width: 35em;
    margin: 2em auto;
    padding-bottom: 2em;
}
.schlagworte ul,
.schlagworte ol {
  margin: 0; 
  padding: 0;
  list-style: none;
  }
.schlagworte li {
  position: relative;
  margin: 1px 1.5em; 
  padding: 0; 
  list-style: none;
  }
.schlagworte li::first-letter { 
  text-transform: uppercase;
  }
.schlagworte span { 
  padding-right: .5em; 
  position: relative;
  z-index: 2;
  }  
.schlagworte li.li1  { 
  margin-top: 1em; 
  margin-left: 0; 
  }  
.pageindex ol.schlagworte {
    margin: 1em;
    padding: 0;
    font-size: .85rem;
}
.pageindex .schlagworte li.li1 {
    margin: .5em 0;
    padding: 0;
}
.pageindex .schlagworte li {
  margin-right:0;
  }
.pageindex .schlagworte a {  
  padding: 0;
  text-indent: 0;
}
  
  
#hint_result .schlagworte {
  padding-left: 1em;
  }
#hint_result .schlagworte li.li1  {  
  margin-left: -1.5em; 
  }
#hint_result .schlagworte li   {  
  margin-right: 0; 
}
.schlagworte .li1 > span { 
  margin-bottom: .5em; 
  font-weight: bold;  
  color: #8e843b;  
  text-transform: uppercase;  
  font-family: "Trebuchet MS", Arial, sans-serif;
  } 

  
/*****************
   tipp 
*****************/  

.tipp {
  position: relative;
  display: inline;
  color: rgba(0, 44, 88, 1);
  font-family: fontawesome, calibri, arial, sans-serif;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
  }
.tipp::before { 
  content: '\f128'; /* 'fa-question */
  content: '\f129'; /* 'fa-info */
  display: inline-block; 
  margin-left: .3em;
  color: rgb(21, 104, 165);
  background: rgb(225, 247, 255);
  border: 1px solid rgba(200, 222, 228, 1);
  border-radius: 1em;
  box-shadow: 4px 4px 6px rgba(51, 51, 51, 0.15);
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
  cursor: pointer;
  } 
.tipp.q2x:before { 
   /*content: '\f00d'; 'fa-times */
  }
.tipp:hover:before {    
  background: rgb(194, 238, 253);  
  position: relative; 
  z-index: 6;
  }
.tipp > * {
  display: none;
  position: absolute;
  z-index: 7;
  top: .8em;
  left: 0; 
  width: 16em;
  margin: 0;
  padding: 1em;
  background: rgba(225, 247, 255, .93);
  border: 1px solid rgba(200, 222, 228, 1);
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(51, 51, 51, 0.15);
  text-align: left;
  /* font-family: initial; */
  } 
.tipp ul, 
.showEntry .tipp ul {
  padding-left: 2em;
  }
.tipp li, 
.showEntry .tipp li {
  padding-left: 0;
  margin: 0;
  list-style: disc;
  } 
#Beispiele.tipp > * {
  padding: 0 1.5em 1em;  
  width: 120%;
  } 
#Beispiele.tipp::before {
  position: absolute;
  top: -0.2em;
  right: 0;
  } 
.tipp > *::after  { 
  content: '\f00d' ;  
  position: absolute;
  top: 0;
  right: 0.4em;
  z-index: 9; 
  opacity:.3;
  } 
.tipp > *:hover::after  { 
  opacity:.8;
  } 
#thesaurus .tipp {
  position: absolute;
  top: -2.5em; 
  right: 0; 
  }

/**** Beispiele ******/

#Beispiele {
  position: absolute;
  display: block;
  width: 100%;
  top: -5.6em;
  right: 3px;
  }  
.beispiele div {
  display: inline-block;
  width: 48%;
  min-width: 16em;
  vertical-align: top;
  margin-right: 1%;
  }
.beispiele ol, 
.beispiele li {
  margin: 0; 
  padding: 0; 
  list-style:none;
  font-size: .9rem;
 }
.beispiele ol { 
  margin: 0 0 .5em;
 } 
.beispiele li {
 padding-left: 1.5em; 
 text-indent: -1em;
 }
.beispiele p {
  margin-bottom: 0;
}

.beispiele a {
 background: rgba(0, 0, 255, 0.03) 
 }
.beispiele a:hover {
 background: rgba(0, 0, 255, 0.06) 
 }
.abc a {
 display: inline-block;
 /* display: flex; */
 padding: 0 .35em;
 vertical-align: middle;
 }
code,
.code {
  font-family: "Courier New", Courier, monospace;
  /* font-size: .9em; */
  } 
.beispiele code, 
.beispiele .code {
  padding: 0 .5em;
  }

   
/**************
PLUS-MINUS 
**************/
.plusMinus {
  cursor: pointer;
  position:relative;
  color: #008;
}
.zahl {
  font-family: calibri, arial;
  opacity: .5;
  font-size: .9em;
  position: relative;
}
.zahl:hover { 
  opacity: 1;
}
.closeX {
  margin-left: .3em;
}
a.zahl::before,
.closeX::before,
.plusMinus::before {
 content: '+';
 content: '\f196';  /* 'fa-plus-square-o */
 font-family: fontawesome, calibri, arial;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-size: 1em;
 display: inline;
 border: 0px solid;
 border-radius: 1em;
 text-align: center;
 cursor: pointer;
 opacity: 0.4;
 overflow:hidden;
 } 
.close::before {
  content: '\f147' /* fa-minus-square-o */
} 
 .closeX::before {  
  content: 'X'; 
  content: '\f00d' /* fa-times */
}
.closeX:hover::before, 
.plusMinus:hover::before {  
 opacity: 0.8;
 }
.showEntry .closeX {
  float:right;
}

.schlagworte .plusMinus::before {
 position: absolute;
 left: -1.6em;
 display: inline-block;
 width: 1.5em;
 }
.pageindex .schlagworte .plusMinus::before {
 top: .15em;
 }

.showResults .sup::before, 
.showResults .plusMinus::before {
 margin-right: .3em;
 }
.showResults a.plusMinus {
 padding: 0 .3em;
 border-radius: 1em;
 }
/*  Zahl */ 

a.zahl::before {
  content: "\f0b0";
  padding-right: .2em;  
  }
#thesaurus a.zahl::before { 
  content: "\f1db";  /* fa-circle-thin ... opacity: 1;*/
  content: "\f00c";  /* fa-check */  
}
#thesaurus a.zahl::after { 
  content: "  ausw\00e4hlen";   
  position: absolute; 
  white-space: nowrap;
  display: inline-block; 
  padding-left: .3em;
  opacity: 0;
}
#thesaurus a.zahl:hover::after {
  opacity: .5;
} 
.showEntry a.zahl { 
  margin-left: .1em;
  opacity: .7;
}
.showEntry a.zahl:hover {  
  opacity: 1;
}
.showEntry a.zahl::before {
  content: ' \f002'; 
  } 
  
#thesaurus a.zahl::before {
  /* content: "\f0a4"; */
} 
  
.plusMinus.close > .zahl.eintrag {
    display: inline-block;
}

.plusMinus ~ .zahl.eintrag,
.plusMinus.close ~ .zahl.gruppe,
.plusMinus > .zahl.eintrag,
.plusMinus.close > .zahl.gruppe,
.li1 > .zahl.gruppe {
    display: none;
}
  
/*******************/

.term {
  margin-right: .5em;
  margin-left: -.3em;
  border-radius: .5em;
  padding: 0 .3em;
}

/******************************
  NavResults
  s.a. .showOptions
*******************************/
 
.navResults {
  font-family: calibri, arial, sans-serif;
  padding: 1px 1em;
  line-height: 2rem;
  height: 3.5em;
  text-align: right;  
  }  
.countResults {
 float: left;
 /* line-height: 1.5em; */
 padding-top: .5em;
 font-size: 1.5rem;
 color: #8e843b;
 font-family: 'trebuchet ms';
 font-weight: bold;
}
.hitList {
  line-height: 2rem; 
  padding-top: .75rem;
}
.navResults ul,
.navResults li {
  margin: 0; 
  padding: 0; 
  list-style: none;
  }
.hits {
  display: inline-block;
  text-align: center;
  font-size: .8em;
  border: 0px solid #ccc;
  padding: 0 .3em;
  margin-right: -.3em;
  }    
.fenster {
  display: inline-block;
  position: relative;
  width: 10em;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  }
.fenster span {
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto; 
  } 
.hits.first,
.hits.last,  
.hits.here {
  font-size: 1em;
  }  
.hits.here a,
.hits.here,
.hits.here:hover,
.numberofRecords { 
  color: #ca9916;
  cursor: default;
  font-weight: bold;  
  background: transparent;
  } 
.hitList .hide {  
  display:inline;
  color: #ccc;
  background: transparent;
  cursor:default;
  }
 
.pull {
  display: inline-block;
  color: #d1d1d1;
  padding: 0 .5em;
  /* visibility: hidden; */
  }
.pull.active {
  color: #000066; 
  cursor:pointer;
  } 
.pull.active:hover {
  color: #000066;
  background: #e6eff1;
  }
  
/* MODS und LIDOS */
   
.CodeMirror-sizer {
  position: absolute;
}